* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 45px 59px;
}

@media (max-width: 768px) {
    .container {
    padding: 25px 39px;

    }
} 

@media (max-width: 375px) {
    .container {
    padding: 10px 19px;

    }
} 

.sneakers_blocks {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}

.sneakers_blocks_item {
    padding: 20px;
    border: 1px solid red;
    flex: 1 0 210px;
    
}
.sneakers_blocks_item input:invalid {
color:red;
}
.sneakers_blocks_item:focus {
    color: red;
}

.swiper .swiper-slide img  {
    width: 100%;
}

.swiper .swiper-button-prev svg {
    transform: rotate(180deg);
}


.sneakers_blocks_item--btn {
    background-color: transparent;
    border: .5px solid gray;
    border-radius: 8px;
    width: 32px;
    height: 32px;
    cursor: pointer;

    &:hover {
        border-color: transparent;
          background: linear-gradient(180deg, #89F09C 0%, #3CC755 100%);

          .plus {
            stroke: white;
            fill: white;
            path {
                  stroke: white;
            fill: white;
            }
          }
    }
    &.active {
        
    }

}
.sneakers_blocks_item--btn.active .checked {
    display: inline;
}
.sneakers_blocks_item--btn.active .plus {
    display: none;
}
.sneakers_blocks_item--btn.active  {
     background: linear-gradient(180deg, #89F09C 0%, #3CC755 100%);
border-color: transparent;
}
.sneakers_blocks_item--btn .checked {
    display: none;
}

.red {
    background-color: red;
}